.hobbies-page
  %table.interests-panel
    %tr
      %td= image_tag("code.png")
      %td= image_tag("chromosome.png")
      %td= image_tag("halo.png")
      %td= image_tag("muse.png")
      %td= image_tag("trigun.png")

  .panels
    .box
      %h3= 'Hiking'
        %p= 'My girlfriend and I love going on hikes together and. Our favorite destinations are wooded mountain areas such as Colorado and the Pacific Northwest.'
    
    .box
      %h3= 'Favorite Games'
      %table.games-list
        %tr
          %td= image_tag("loz.png")
        %tr
          %td= image_tag("smite.png")
        %tr
          %td= image_tag("halo2.png")
        %tr
          %td= image_tag("mario_kart.png")
        %tr
          %td= image_tag("pokemon.png")
        %tr
          %td= image_tag("wow.png")
 