.hobbies-page
  %table.interests-header
    %tr.select-image-row
      %td.active= image_tag("hiking.png", size: "125")
      %td.inactive= image_tag("code.png", size: "125")
      %td.inactive= image_tag("chromosome.png", size: "125")
      %td.inactive= image_tag("halo.png", size: "125")
      %td.inactive= image_tag("muse.png", size: "125")
      %td.inactive= image_tag("trigun.png", size: "125")
    %tr.select-icon-row
      %td= fa_icon 'angle-down', class: 'fa-5x active selection-1'
      %td= fa_icon 'angle-down', class: 'fa-5x d-none selection-2'
      %td= fa_icon 'angle-down', class: 'fa-5x d-none selection-3'
      %td= fa_icon 'angle-down', class: 'fa-5x d-none selection-4'
      %td= fa_icon 'angle-down', class: 'fa-5x d-none selection-5'
      %td= fa_icon 'angle-down', class: 'fa-5x d-none selection-6'

  .interests-panel
    .selection-1.active
      %h3.bg-light= 'Hiking'
      %p= 'My girlfriend and I love going on hikes together and. Our favorite destinations are wooded mountain areas such as Colorado and the Pacific Northwest.'
      
    .selection-2.d-none
      %h3.bg-light= 'Programming'
      .flex-wrapper
        .column.column-3
          %p= "I got off to a later start than most when it comes to my programming career due to my studies in genetics, but I have not looked back since making the switch. I devote a good chunk of my free time to working on personal coding projects of my choosing. These range from fun games I play and share with others, to more practical uses that aid me in some purpose. A list of my more recent endeavors can be found on the Personal Projects page of this site.\nI prefer working with higher-level languages when able since progress is often much quicker. I am always looking to learn new technologies and expand my knowledge!"
        .column
          %h5= 'Favorite Languages'
          = image_tag("tech_icons/ruby-icon.png")
          = image_tag("tech_icons/python-icon.png")
          = image_tag("tech_icons/js-icon.png")

    .selection-3.d-none
      %h3.bg-light= 'Science'

    .selection-4.d-none
      %h3.bg-light= 'Gaming'
      %h5= 'Favorite Games'
      %table.games-list
        %tr
          %td= image_tag("loz.png")
        %tr
          %td= image_tag("smite.png")
        %tr
          %td= image_tag("halo2.png")
        %tr
          %td= image_tag("mario_kart.png")
        %tr
          %td= image_tag("pokemon.png")
        %tr
          %td= image_tag("wow.png")

    .selection-5.d-none
      %h3.bg-light= 'Music'

    .selection-6.d-none
      %h3.bg-light= 'Anime'
