.home-page
  %table.interests-panel
    %tr
      %td= image_tag("code.png")
      %td= image_tag("chromosome.png")
      %td= image_tag("halo.png")
      %td= image_tag("muse.png")
      %td= image_tag("trigun.png")

  .panels
    .box
      %h3= 'About Myself'
      %p.about-me
        = image_tag("dan_science.png", id: "profile_pic")
        = 'Welcome!  My name is Dan and I am a software engineer.  I have a B.S. in computer science and M.S. in molecular genetics.  I love expanding and applying my knowledge in these two fields.  I also enjoy playing video games, watching anime, and listening to rock music as hobbies.'

    .box
      %h3= 'Current Side Projects'
      %ul
        %li= 'Web app that listens to speech and evaluates its accuracy.'
        %li= 'Player statistics reporter for Smite online game'
        %li= 'Mini password encrypter/decrypter'
        %li= 'Pokemon Fan game written in ruby'
        %li= 'Video analyzer to locate timeframes where keywords were spoken using Clarity API'
        %li= 'New AMVs'

    .box
      %h3= 'Favorite Games'
      %table.games-list
        %tr
          %td= image_tag("loz.png")
        %tr
          %td= image_tag("smite.png")
        %tr
          %td= image_tag("halo2.png")
        %tr
          %td= image_tag("mario_kart.png")
        %tr
          %td= image_tag("pokemon.png")
        %tr
          %td= image_tag("wow.png")
 