- # Refactor this view
.projects-page
  .pokelogo
    = image_tag('PokemonPics/test.png')

  #poke-carousel.carousel.slide{data: {ride: 'carousel'}}
    %ol.carousel-indicators
      %li.active{data: {target: '#poke-carousel', 'slide-to': 0}}
      %li{data: {target: '#poke-carousel', 'slide-to': 1}}
      %li{data: {target: '#poke-carousel', 'slide-to': 2}}
      %li{data: {target: '#poke-carousel', 'slide-to': 3}}
      %li{data: {target: '#poke-carousel', 'slide-to': 4}}
      %li{data: {target: '#poke-carousel', 'slide-to': 5}}
      %li{data: {target: '#poke-carousel', 'slide-to': 6}}
      %li{data: {target: '#poke-carousel', 'slide-to': 7}}

    .carousel-inner
      .carousel-item.active
        = image_tag('PokemonPics/screenshot1.png')

      .carousel-item
        = image_tag('PokemonPics/screenshot2.png')

      .carousel-item
        = image_tag('PokemonPics/screenshot3.png')

      .carousel-item
        = image_tag('PokemonPics/screenshot4.png')

      .carousel-item
        = image_tag('PokemonPics/screenshot5.png')

      .carousel-item
        = image_tag('PokemonPics/screenshot6.png')

      .carousel-item
        = image_tag('PokemonPics/screenshot7.png')

      .carousel-item
        = image_tag('PokemonPics/screenshot8.png')

    .carousel-control-prev
      = link_to '#poke-carousel', role: 'button', data: {slide: 'prev'} do
        %span.carousel-control-prev-icon{'aria-hidden': true}
        %span.sr-only= 'Previous'

    .carousel-control-next
      = link_to '#poke-carousel', role: 'button', data: {slide: 'next'} do
        %span.carousel-control-next-icon{'aria-hidden': true}
        %span.sr-only= 'Next'
