!!!
%html
  %head
    %title= 'Dan Stucky'
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .flex-wrapper
      = render template: 'layouts/side_nav_bar'
      = render template: 'layouts/page_content'
