%nav#sidebar
  .sidebar-header
    %h3= 'Dan Stucky'
    %h6= 'Software Engineer'

  %ul.list-unstyled.components
    %li.active= 'Who I Am'
    %li= 'Resume'
    %li= 'Personal Projects'
    %li= 'Science Background'
    %li= 'Hobbies'
