%nav#sidebar
  .sidebar-header
    %h3= 'Dan Stucky'
    %h6= 'Software Engineer'

  %ul.list-unstyled.components
    = link_to root_path do
      %li{class: ('active' if @active_page == NAV_OPTIONS[:about_me])}= 'Who I Am'
    %li= 'Resume'
    = link_to overview_projects_path do
      %li{class: ('active' if @active_page == NAV_OPTIONS[:projects])}= 'Personal Projects'
    = link_to overview_science_path do
      %li{class: ('active' if @active_page == NAV_OPTIONS[:science])}= 'Biology Research'
    = link_to overview_hobbies_path do
      %li{class: ('active' if @active_page == NAV_OPTIONS[:hobbies])}= 'Hobbies'
